persist.properties
persist
lizzie.properties
config.txt
out/*
.idea/
*.dll
*.iml
*.exe
network
network.gz
leelaz
src/main/resources/META-INF
target
*.o
*.d
.vscode/settings.json
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
leelaz-model*
*.orig
leelaz_opencl_tuning
Debug
Release
packages
.orig
x64
.vs
*.db
*.opendb
*.user
msvc
lizzie.sh
lizzie.jar
*.sh
*.jar
/.vs/config/applicationhost.config
*.suo
/.vs/lizzie/v15/Browse.VC.db
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
